* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

:root {
	--color-white-100: hsl(206, 5%, 98%);
	--color-white-200: hsl(206, 5%, 90%);
	--color-white-300: hsl(206, 5%, 80%);
	--color-white-400: hsl(206, 5%, 65%);
	--color-white-500: hsl(206, 5%, 50%);
	--color-black-100: hsl(213, 23%, 8%);
	--color-black-200: hsl(214, 21%, 6%);
	--color-black-300: hsl(210, 21%, 6%);
	--color-black-400: hsl(216, 22%, 4%);
	--color-black-500: hsl(220, 18%, 3%);
	--color-lightBlue-400: hsl(189, 81%, 60%);
	--color-darkBlue-500: hsl(201, 62%, 14%);
	--shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
	   0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
	   0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
	   0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
    background-image: url("../imagenes/fondo.jpg");
    background-color: rgb(187, 112, 112);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	height: -webkit-fill-available;
	color: var(--color-black-500);
	background-color: var(--color-white-100);
}

html {
	font-size: 100%;
	box-sizing: inherit;
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}

.contenedor {
	padding: 50px 20px 20px;
}

.bienvenida-principal {
	padding-top: 50px;
}

#sobre-mi {
	margin: 25px 25px 50px;
}

.bienvenida-texto {
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 61px;
	padding-top: 70px;
}

.foto-dev {
	width: 50%;
}

.skills-parent {
	display: flex;
	flex-direction: row;
}
.skills-child {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

.formacion-parent {
	padding-top: 20px;
}
.formacion-child {
	padding-top: 20px;
}
.foto-formacion {
	width: 268px;
	height: 286px;
}
.formacion-titulo {
	margin-top: 10px;
}


.card {
	margin: auto;
	max-width: fit-content;
}
.proyectos-parent {
	padding-top: 20px;
}
.proyectos-child {
	padding-top: 20px;
}